PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=REDACTED_DB_NAME
NODE_ENV=development
JWT_SECRET=REDACTED_JWT_SECRET


MAIL_USER=REDACTED_EMAIL 
MAIL_PASS=REDACTED_GMAIL_APP_PASSWORD

# CLOUD_NAME=REDACTED_OLD_CLOUD_NAME
#CLOUD_API_KEY=REDACTED_OLD_CLOUDINARY_API_KEY
#CLOUD_API_SECRET=REDACTED_OLD_CLOUDINARY_API_SECRET  
CLOUD_NAME=REDACTED_CLOUD_NAME
CLOUD_API_KEY=REDACTED_CLOUDINARY_API_KEY
CLOUD_API_SECRET=REDACTED_CLOUDINARY_API_SECRET

BAKONG_ACCOUNT_NAME=Asto
BAKONG_ACCOUNT_USERNAME=REDACTED_BAKONG_USERNAME
BAKONG_PHONE_NUMBER=REDACTED_BAKONG_PHONE
BAKONG_ACCESS_TOKEN=REDACTED_BAKONG_TOKEN_1
BAKONG_PROD_BASE_API_URL=https://api-bakong.nbc.gov.kh/v1

BAKONG_DEV_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1
# BAKONG_ACCESS_TOKEN=REDACTED_BAKONG_TOKEN_2  